<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SplashScreenController</key>
	<string>Unity引导页</string>
	<key>MXRKidSecurityViewController</key>
	<string>MXRKidSecurityViewController</string>
	<key>MXRActiveCodeWebViewController</key>
	<string>激活码网页</string>
	<key>MXRGroupedBookShelfViewController</key>
	<string>彩蛋书架列表</string>
	<key>MXRSwitchServerViewController</key>
	<string>选择服务器</string>
	<key>MXRCommentInputViewController</key>
	<string>UGC添加文字</string>
	<key>ImageShowViewController</key>
	<string>UGC展示图片</string>
	<key>IntuitiveUnderstandingViewController</key>
	<string>直观认知</string>
	<key>MXRPromptDoExerciseViewController</key>
	<string>做题提示</string>
	<key>YYPhotoBrowserViewController</key>
	<string>选择图片</string>
	<key>URLInputViewController</key>
	<string>UGC添加网址</string>
	<key>MXRExerciseResultViewController</key>
	<string>书内答题结果页</string>
	<key>ReadTViewController</key>
	<string>通读</string>
	<key>MXRLetterViewController</key>
	<string>私信详情</string>
	<key>MXRGuideViewController</key>
	<string>引导页</string>
	<key>MXRCountDownViewController</key>
	<string>休息眼睛倒计时</string>
	<key>MXRWebViewController</key>
	<string>网页</string>
	<key>MXRPreviewImageViewController</key>
	<string>图片3DTouch预览</string>
	<key>MXRFogertPassWordSecondStepViewController</key>
	<string>忘记密码二页面</string>
	<key>MXRUrlInputViewController</key>
	<string>UGC输入网址</string>
	<key>MXRCommentViewController</key>
	<string>私信评论</string>
	<key>MXRAppGuideViewController</key>
	<string>选择服务器</string>
	<key>MXRVersionUpdateAlertViewController</key>
	<string>更新版本</string>
	<key>MXRNRootViewController</key>
	<string>RN页面</string>
	<key>MXRPKQuestionResultViewController</key>
	<string>答题结果</string>
	<key>MXRUnLockBookViewController</key>
	<string>付费解锁</string>
	<key>RecordViewViewControllerWithLite</key>
	<string>录视频</string>
	<key>MXR4DGlassesViewController</key>
	<string>4D魔镜</string>
	<key>MXRDrawViewController</key>
	<string>绘本模型</string>
	<key>MXRARViewController</key>
	<string>图片识别</string>
	<key>ColorEgg4DViewController</key>
	<string>彩蛋模型</string>
	<key>PreviewArViewController</key>
	<string>模型引导</string>
	<key>MXR4DTimeTableViewController</key>
	<string>课程表、蚕宝宝模型</string>
	<key>MXRARCognitiveCardBaseViewController</key>
	<string>认知卡模型</string>
	<key>MXRUnityResourcePreviewViewController</key>
	<string>二维码资源预览</string>
	<key>MXRCoursewareViewController</key>
	<string>课件模型</string>
	<key>MXRARModelViewController</key>
	<string>模型页面</string>
	<key>PanoramaViewController</key>
	<string>全景模型</string>
	<key>UGCInViewController</key>
	<string>直观认知卡？</string>
	<key>MXROfflineViewController</key>
	<string>离线阅读</string>
	<key>MXROfflineExerciseViewController</key>
	<string>离线阅读</string>
	<key>MXREncyclopediaOfflineViewController</key>
	<string>离线阅读</string>
	<key>MXRHuaShiDaOfflineViewController</key>
	<string>离线阅读</string>
	<key>MXRExchangeCoinViewController</key>
	<string>兑换梦想币</string>
	<key>AuthorizationViewController</key>
	<string>账号授权</string>
	<key>MediaPalyViewControllerFenDuan</key>
	<string>播放视频</string>
	<key>UnityVideoViewController</key>
	<string>unity视频</string>
	<key>MXRPulisherStartViewController</key>
	<string>出版社订制</string>
	<key>MXRBookCityHomeNaviTabViewController</key>
	<string>书城首页容器</string>
	<key>TransformTryReadPageViewController</key>
	<string>更换试读页</string>
	<key>PersonInfoViewController</key>
	<string>个人信息</string>
	<key>MXRZonePurchaseVC</key>
	<string>专题购买记录</string>
	<key>MXRCommentWebViewController</key>
	<string>通用网页</string>
	<key>MXRBookStoreHomePageSubjectViewController</key>
	<string>所有专区</string>
	<key>MXRInviteListViewController</key>
	<string>邀请列表</string>
	<key>MXRPhoneBandelDetailViewController</key>
	<string>绑定手机号</string>
	<key>MXRPKHomeViewController</key>
	<string>PK首页</string>
	<key>MXRMessageReplyViewController</key>
	<string>评论、赞</string>
	<key>MXRPurchaseHistoryViewController</key>
	<string>购买记录</string>
	<key>UserRegisterStepSecondViewController</key>
	<string>注册二页面</string>
	<key>MXROpenOrReNewVIPTemModalVC</key>
	<string>开通续费VIP弹窗</string>
	<key>MXRSearchZoneViewController</key>
	<string>搜索专区</string>
	<key>MXRTimeTipsSettingViewController</key>
	<string>时长提醒</string>
	<key>UserRegisterViewController</key>
	<string>注册用户</string>
	<key>ReportViewController</key>
	<string>举报</string>
	<key>MXRSubCategoryViewController</key>
	<string>分类子页面</string>
	<key>MXRBookCategoryViewController</key>
	<string>分类页面</string>
	<key>MXRBookReadThroughViewController</key>
	<string>通读页面</string>
	<key>MXRVIPMainViewController</key>
	<string>VIP充值页面</string>
	<key>MXRBuyBookForDiamondViewController</key>
	<string>梦想钻支付弹窗</string>
	<key>MXRBandelPSDViewController</key>
	<string>设置密码</string>
	<key>CognitiveCardViewController</key>
	<string>认知列表</string>
	<key>MXRKidSecurityUnlockWebViewController</key>
	<string>中少网页解锁页面</string>
	<key>MXRBandelPhoneCheckViewController</key>
	<string>建议绑定手机</string>
	<key>MXRFogertPassWordFirstStepViewController</key>
	<string>忘记密码</string>
	<key>MXRChatWebViewController</key>
	<string>小梦网页信息</string>
	<key>MXRSettingViewController</key>
	<string>设置</string>
	<key>MXRClassificationViewController</key>
	<string>分类</string>
	<key>MXRTreeOfKnowledgeViewController</key>
	<string>我的知识树</string>
	<key>MXRSelectFriendsShareViewController</key>
	<string>分享朋友页面</string>
	<key>MXRMyBookSNSViewController</key>
	<string>我的动态</string>
	<key>MXRMemoryToastViewController</key>
	<string>内存清理</string>
	<key>MXRSnapLearnInviteFriendsViewController</key>
	<string>snaplearn邀请好友</string>
	<key>MXRAlbumListViewController</key>
	<string>相册列表</string>
	<key>MXRAboutUsViewController</key>
	<string>关于4D书城</string>
	<key>MXRPKNormalAnswerVC</key>
	<string>答题页面</string>
	<key>MXRMineCouponViewController</key>
	<string>我的优惠卷</string>
	<key>MXRSearchTopicViewController</key>
	<string>搜索话题</string>
	<key>MXRLandBuyBookForDiamondVController</key>
	<string>横屏梦想钻付费弹框</string>
	<key>GetPasswordViewController</key>
	<string>修改密码</string>
	<key>MXRVIPPaymentViewController</key>
	<string>VIP购买页面</string>
	<key>MXRVIPBookListViewController</key>
	<string>VIP图书列表</string>
	<key>MXRBookGuideVideoPlayViewController</key>
	<string>引导视频</string>
	<key>MXRPKAnswerVC</key>
	<string>PK答题页面</string>
	<key>MXRSNSSearchBookViewController</key>
	<string>搜索发布的图书</string>
	<key>MXRQRScanViewController</key>
	<string>扫一扫</string>
	<key>MXRAddCommentViewController</key>
	<string>UGC添加文字老</string>
	<key>MXRUserNotificationViewController</key>
	<string>通知</string>
	<key>MXRBookRankingListViewController</key>
	<string>热门图书榜</string>
	<key>ChangeNikeNameViewController</key>
	<string>我的昵称</string>
	<key>BuyBookViewController</key>
	<string>购买实体书网页</string>
	<key>MXRSNSSendStateViewController</key>
	<string>发布动态</string>
	<key>MXRMessageReplyWebViewController</key>
	<string>评论网页</string>
	<key>MXRChatViewController</key>
	<string>小梦、新人引导</string>
	<key>MXRTopicMainViewController</key>
	<string>话题页</string>
	<key>DDYBookCommentListViewController</key>
	<string>图书评论列表</string>
	<key>MXRInviteFriendsViewController</key>
	<string>邀请好友</string>
	<key>MXRSNSPraiseDetailViewController</key>
	<string>点赞列表页</string>
	<key>MXRPersonShareViewController</key>
	<string>分享页面</string>
	<key>personchildrenFoucsViewController</key>
	<string>兴趣爱好</string>
	<key>DDYBookCommentDetailViewController</key>
	<string>图书评论详情</string>
	<key>MXRChangePassWordViewController</key>
	<string>修改密码</string>
	<key>MXRBookListUnderTagIdViewController</key>
	<string>某标签的图书列表</string>
	<key>MXRUnlockBookWebViewViewController</key>
	<string>使用优惠卷号</string>
	<key>MXRSearchResultViewController</key>
	<string>搜索结果页面</string>
	<key>MXRBookFeedbackViewController</key>
	<string>意见反馈</string>
	<key>MXRLoginVC</key>
	<string>登录</string>
	<key>MXRUserProtorlViewController</key>
	<string>用户协议</string>
	<key>MXRBookSNSDetailViewController</key>
	<string>动态详情</string>
	<key>MXRQAExerciseViewController</key>
	<string>图书内答题页面</string>
	<key>MXRBookStoreSubjectDetailViewController</key>
	<string>专区</string>
	<key>MXRMessageDetailWebViewController</key>
	<string>私信详情网页</string>
	<key>MessageCenterViewController</key>
	<string>系统通知消息中心</string>
	<key>BookDetailWebViewController</key>
	<string>充值帮助网页</string>
	<key>MXRGainMXBByTaskViewController</key>
	<string>梦想币不足做任务页面</string>
	<key>MXRAuthenticatingNameViewController</key>
	<string>昵称审核页面</string>
	<key>MXRSearchViewController</key>
	<string>搜索页面</string>
	<key>MXRMyCommentViewController</key>
	<string>我的评论</string>
	<key>MXRShareVideoViewController</key>
	<string>分享视频页面</string>
	<key>MXRBookPresentCampaignViewController</key>
	<string>赠一得一页面</string>
	<key>MXRBaseWebViewController</key>
	<string>基本网页</string>
	<key>MXRBookDetailCommentSubWebViewController</key>
	<string>图书详情评论网页</string>
	<key>MXRCommonWebViewController</key>
	<string>通用网页</string>
	<key>MXRCapsuleToysWebView</key>
	<string>扭蛋页面</string>
	<key>MXRPKMedalListViewController</key>
	<string>勋章列表</string>
	<key>MXRMyMessageViewController</key>
	<string>我的消息中心</string>
	<key>MXRBookDetailViewController</key>
	<string>图书详情</string>
	<key>DDYBookDetailViewController</key>
	<string>图书详情</string>
	<key>MXRSearchZoneResultViewController</key>
	<string>搜索专区结果页面</string>
	<key>MXRSelectImageLocalViewController</key>
	<string>选择图片</string>
	<key>MXRPublisherBookStoreViewController</key>
	<string>出版社图书列表</string>
	<key>MXRAgeSelectViewController</key>
	<string>选择年龄</string>
	<key>MXRBookTagViewController</key>
	<string>分类图书列表</string>
	<key>MXRMyTaskViewController</key>
	<string>我的任务</string>
	<key>MXRRankListViewController</key>
	<string>知识树排行榜</string>
	<key>MXRBandelPhoneSussViewController</key>
	<string>绑定手机号成功页面</string>
	<key>ShowMessageContentViewController</key>
	<string>小梦信息详情</string>
	<key>MXRBookClassificationViewController</key>
	<string>分类列表</string>
	<key>MXRPKSearchViewController</key>
	<string>搜索PK对手</string>
	<key>MXRDoExerciseViewController</key>
	<string>书内答题页</string>
	<key>MXRPreViewViewController</key>
	<string>相册选择</string>
	<key>MXRAllTopicViewController</key>
	<string>全部话题</string>
	<key>MXRZonePurchaseHistoryViewController</key>
	<string>专区列表购买页面</string>
	<key>MXRBuyBookForDownLoadViewController</key>
	<string>付费弹窗</string>
	<key>MXRCollectionViewController</key>
	<string>图书列表</string>
	<key>MXRBandelListViewController</key>
	<string>账号绑定</string>
	<key>MXRAutoReadViewController</key>
	<string>自动读</string>
	<key>MXRComingSoonViewController</key>
	<string>即将到来</string>
	<key>MXRPersonViewController</key>
	<string>我的页面</string>
	<key>MXRBookSNSViewController</key>
	<string>梦想圈页面</string>
	<key>MXRNewBookStoreViewController</key>
	<string>书城首页</string>
	<key>AboutOurViewController</key>
	<string>意见反馈</string>
	<key>MXRBuyViewController</key>
	<string>梦想钻充值</string>
	<key>MXRNewBookShelfViewController</key>
	<string>书架</string>
	<key>WBSDKAuthorizeWebViewController</key>
	<string>微博登录</string>
	<key>MXRCommonSearchViewController</key>
	<string>新版搜索页面</string>
	<key>MXRARClassroomVC</key>
	<string>AR课堂</string>
	<key>MXRARClassCourseDetailVC</key>
	<string>AR课程详情</string>
	<key>MXRUnitViewController</key>
	<string>单元详情</string>
	<key>MXRCourseSelectedViewController</key>
	<string>课程选择页面</string>
	<key>MXRUnitListViewController</key>
	<string>课程详情中单元列表</string>
	<key>MXRExtendingReadingViewController</key>
	<string>课程详情中延展阅读</string>
	<key>MXRCoursePayViewController</key>
	<string>课程支付界面</string>
</dict>
</plist>
